body {
  font-family: Arial, sans-serif;
  background: #f0f2f5;
  text-align: center;
  padding-top: 100px;
  margin: 0;
}

h1 {
  color: #0b3d91;
}

.btn {
  display: block;
  margin: 20px auto;
  padding: 15px 30px;
  width: 200px;
  font-size: 16px;
  background-color: #0b3d91;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0a347d;
}

footer {
  position: fixed;
  bottom: 10px;
  right: 15px;
  font-size: 15px;
  color: gray;
}

header img {
  padding-top: 50px;
  height: 60px;
  margin-bottom: 20px;
}